body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.about-div-80{
  position: relative;
  height: 40%;
  border: 1px solid blue
  
  
}
.about-div-40{
  display: block;
  height: 50% ;
 
  
  
}
.par-div{
  position: absolute;
  height: 100%;
  width: 100%;
  


 
}
.about-img{
  width: 100%;
}

img{
  max-width: 100%;
  max-height: 100%;

}
.abs-txt{
  position: absolute;
  font-size: 7.5vw;
  font-family: Arial, Helvetica, sans-serif;
 
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10%;
  
  vertical-align: middle;
   /* Adjust this value to move the positioned div up and down */
  text-align: center;
  /* width: 60%; Set the width of the positioned div */
}

.strokeme {
  color: #FFFFF0;
  

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.div-margin{
 margin-top: 50px;
}

.grid{
  display: grid;
  /* grid-gap: 20px; */
  margin:20px;
	grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
	/* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr; */
 

  

}
.service{

padding: 2px;

border-radius: 5px;
display: inline-block;

  

}

.icon {
  margin-right: 10px,
}

.heroContent {
  
  padding: 10px;
}

.heroButtons {
  margin-top: 10px
}
.cardGrid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  height: '100%';
  display: 'flex';
  flex-direction: 'column'
}

.cardMedia {
  padding-top: '56.25%'
}

.cardContent {
  flex-grow: 1
}

.footer {
 
  padding: 10px
}
.TopMenu li{
  display: inline;
  list-style: none;
  padding: 1.3em;
  
}

.Banner{
  height: 100vh;
  text-align: center;


}

.home-title{
  font-size: 9vw;
  position: absolute;
  top:40%;
  left: 12%;
  color: ivory;

}

.h-100{
  height:100vh;
  background-color: yellow;
  background-size: 'auto 100%'
}

.projects-back{
  background-color: black;
  color: #FFFFF0;
}